body{
    font-family: Arial, sans-serif;
    margin: 0;
}

.booking {
    display: flex;
    height: 100vh;
    margin: 0;
  
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.left h1 {
    margin-bottom: 20px;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 10px;
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

span {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.date input{
    width: 170%;
    
}
.date{
    display: flex;
    flex-direction: row;
    gap: 165px;
}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.sbm{
    padding: 12px 50px;
    background-color: #004494;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
    transform: translateY(-2px);

}
#button:active {
    background-color: #2da4ff;
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#thead{
    display: none;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    color: #333;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #004494;
    color: white;
}

.edit-btn {
    background-color: #28a745;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn:hover {
    background-color: #c82333;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 25px;
    background: #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px 12px;
    font-size: 16px;
}

.search input[type="date"] {
    max-width: 150px;
}

.search i {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.search input::placeholder {
    color: #aaa;
}

